<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Navbar Example</title>
</head>
<body>
  <header>
    <div class="logo">
      <h1>Fund Distribution System</h1>
    </div>
    <nav>
      <ul class="nav-links">
        <li><a  class="active">  Update Product</a></li>
        <li><a routerLink="/adminHomePage">Admin Home</a></li>
        <li><a [routerLink]="['/loginPage']">Logout</a></li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <div class="left-section">
      <app-update-product-form [productId]="productId" [nonce]="nonce"></app-update-product-form>
    </div>
    <div class="right-section" *ngIf="!isLoading" >
      <table class="main-table">
        <thead>
          <tr>
            <th>Nonce</th>
            <th>Prev Hash</th>
            <th>Product Title</th>
            <th>Product ID</th>
            <th>QR String</th>
            <th>Hash</th>
            <th>Scan Count</th>
          </tr>
        
        </thead>
        <tbody>
          <tr  *ngFor="let productData of productDataList;let i = index">
            <th>{{productData.nonce}}</th>
            <th>{{productData.prevHash}}</th>
            <th>{{productData.productTitle}}</th>
            <th>{{productData.productId}}</th>
            <th>{{productData.qrString}}</th>
            <th>{{productData.hash}}</th>
            <th>{{productData.scanCount}}</th>
          </tr>
        </tbody>
      </table>
      <table class="sub-table">
        <thead>
          <tr>
            <th>Operation</th>
            <th>Current Hash</th>
            <th>PreviousHash</th>
            <th>Timestamp</th>
            <th>Transaction ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let operation of productOperations;let i = index">
            <td>{{ operation.operation }}</td>
            <td>{{ operation.currentHash.substring(0,7) }}</td>
            <td>{{ operation.prevHash.substring(0,7) }}</td>
            <td>{{ operation.timeStamp }}</td>
            <td>{{ operation.transID }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="right-section" *ngIf="isLoading">
      Loading...
    </div>
  </div>

</body>
</html>