<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Navbar and Form Example</title>
</head>
<body>

  <div class="form-container">
    <form action="#" class="custom-form">

      <label for="operationText">Operation Text for productId :{{productId}}</label>
      <input type="text" id="operationText" [(ngModel)]="operationText" placeholder={{operationText}} name="operationText"><br><br>
      <br>


      <input type="submit"  (click)="onSubmit()" value="Submit">
    </form>
  </div>


</body>
</html>